{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "printWidth": 200,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "tabWidth": 2,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "overrides": [{"files": "*.svelte", "options": {"parser": "svelte"}}]
}
